# Django Settings
DEBUG=True
SECRET_KEY=django-insecure-tu-secret-key-aqui

# Database Configuration
DB_ENGINE=django.db.backends.mysql
DB_NAME=voting
DB_USER=root
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=3306

# Email Configuration
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=tu-email@gmail.com
EMAIL_HOST_PASSWORD=tu-app-password

# Security
ALLOWED_HOSTS=localhost,127.0.0.1
